statemachine/definition.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get Perplexity Prompt",
  "States": {
    "Get Perplexity Prompt": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "${DataBucketName}",
        "Key": "prompts/perplexity-prompt.txt"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Invoke Perplexity",
      "Assign": {
        "perplexityPrompt": "{% $states.result.Body %}",
        "articleUrl": "{% $states.input.dynamodb.NewImage.url.S %}"
      }
    },
    "Invoke Perplexity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://api.perplexity.ai/chat/completions",
        "Method": "POST",
        "InvocationConfig": {
          "ConnectionArn": "${PerplexityConnectionArn}"
        },
        "RequestBody": {
          "model": "sonar",
          "messages": [
            {
              "role": "user",
              "content": "{% $perplexityPrompt & $articleUrl %}"
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Save Perplexity response",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Success"
        }
      ],
      "Assign": {
        "perplexityResponseId": "{% $exists($states.result.ResponseBody.id) ? $states.result.ResponseBody.id : $millis() %}",
        "perplexityResponse": "{% $exists($states.result.ResponseBody.choices.message.content) ? $states.result.ResponseBody.choices.message.content : 'Unable to get response from Perplexity' %}"
      }
    },
    "Save Perplexity response": {
      "Type": "Task",
      "Arguments": {
        "Body": "{% $perplexityResponse %}",
        "Bucket": "${DataBucketName}",
        "Key": "{% 'responses/' & $perplexityResponseId & '.txt'%}"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Next": "Get S3 Signed URL"
    },
    "Get S3 Signed URL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${SignS3UrlFunctionArn}",
        "Payload": {
          "bucketName": "${DataBucketName}",
          "objectKey": "{% 'responses/' & $perplexityResponseId & '.txt'%}",
          "perplexityResponse": "{% $perplexityResponse %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Success",
          "Output": {
            "error": "Error!"
          }
        }
      ],
      "Next": "Send Perplexity response by email"
    },
    "Send Perplexity response by email": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}",
        "TopicArn": "${SNSTopicARN}"
      },
      "Next": "Get Bedrock prompt"
    },
    "Get Bedrock prompt": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "${DataBucketName}",
        "Key": "prompts/bedrock-prompt.txt"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Assign": {
        "bedrockPrompt": "{% $states.result.Body %}"
      },
      "Next": "Invoke Nova lite"
    },
    "Invoke Nova lite": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Arguments": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/amazon.nova-lite-v1:0",
        "Body": {
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "text": "{% $bedrockPrompt & $perplexityResponse %}"
                }
              ]
            }
          ],
          "inferenceConfig": {
            "maxTokens": 512
          }
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Assign": {
        "bedrockResponse": "{% $states.result.Body.output.message.content.text %}"
      },
      "End": true
    },
    "Success": {
      "Type": "Succeed"
    }
  },
  "QueryLanguage": "JSONata"
}