statemachine/definition.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "GetObject",
  "States": {
    "GetObject": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "${DataBucketName}",
        "Key": "perplexity-prompt.txt"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Invoke Perplexity",
      "Assign": {
        "perplexityPrompt": "{% $states.result.Body %}"
      }
    },
    "Invoke Perplexity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://api.perplexity.ai/chat/completions",
        "Method": "POST",
        "InvocationConfig": {
          "ConnectionArn": "${PerplexityConnectionArn}"
        },
        "RequestBody": {
          "model": "sonar",
          "messages": [
            {
              "role": "user",
              "content": "{% $perplexityPrompt %}"
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "PutObject",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Success"
        }
      ],
      "Assign": {
        "perplexityAnswer": "{% $exists($states.result.ResponseBody.choices.message.content) ? $states.result.ResponseBody.choices.message.content : 'Unable to get response from Perplexity' %}"
      }
    },
    "PutObject": {
      "Type": "Task",
      "Arguments": {
        "Body": "This is a random PutObject operation!",
        "Bucket": "${DataBucketName}",
        "Key": "new-file.txt"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "End": true
    },
    "Success": {
      "Type": "Succeed"
    }
  },
  "QueryLanguage": "JSONata"
}